[submodule "work"]
	path = work
	url = ssh://git@stash.mvtec.com:7999/~loesela/dotfiles.git
	branch = main
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
